# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# misc
.DS_Store
*.pem

# Prisma
apps/api/prisma/migrations/dev.db

# React Native
apps/mobile/ios/Pods/
apps/mobile/android/.gradle/
apps/mobile/android/app/build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
